---
// src/pages/login.astro
import Layout from '@/layouts/Layout.astro';
import AuthForm from '@/components/AuthForm';
---
<Layout title="Acceso de Usuario | Soporte Técnico">
    <main>
        <AuthForm client:load/>
    </main>
</Layout>